<style type="text/css">
	.md_features{
		position: relative;
		width: 100%;
	}
	.md_aboutChatr{
		position: relative;
		width: 100%;
   		margin-top: 25px;
   		margin-bottom: 20px;
   		background-color: #f6f6f6;
   		padding: 45px;
	}

	.md_aboutTitle{
		position: relative;
		text-align: left;
		font-size: 15px;
		color: #1267a4;
		line-height: 20px;
		font-weight: bold;
		margin-bottom: 12px;
	}
	.md_aboutCopy{
		line-height: 1.8rem;
		font-size: 12px;
	}
	.slider{
		margin-top: 40px;
		margin-bottom: 10px;
	}
	.youtube{
	  position: relative;
	  width: 100%;
	  height: 0;
	  padding-bottom: 10.92%;
	}

	.youtube iframe{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	}
	.videoSlideWraper{
	  position: relative;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row;
	  -moz-flex-flow: row;
	  -ms-flex-flow: row;
	  -o-flex-flow: row;
	  justify-content: space-between;
	}
	.videoSlideWraper :nth-child(2n){
	  margin-right:0;
	}

	.slider-for{
	  width: 80%;
	  position: relative;
	  background-color: #f6f6f6;
	  margin-bottom: 10px;
	  /*margin-right: 1%;*/
	}
	.slider-nav{
	  width: 20%;
	  position: relative;
	  background-color: #f6f6f6;
	  margin-bottom: 10px;
	  /*margin-right: 1%;*/
	}
</style>



